.featured {
    display: flex;
    margin: 20px;
    align-items: center;
    justify-content: center;
}


.projects {
    display: flex;
    border-style: solid;
    border-width: 5px;
    border-color: red;
    justify-content: space-around;
}

body {
    background-image: url('images/bg1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}