.featured {
    display: flex;
    margin: 20px;
    align-items: center;
    justify-content: center;
}


.projects {
    display: flex;
    margin: 50px;
    justify-content: space-around;
}

.projects > div {
    max-width: 500px;
    height: 100px;
}
body {
    background-image: url('images/bg1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    font-family: 'Courier New';
}